.swiper-3d .swiper-slide-shadow {
  background: none !important;
}
.animate {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  opacity: 0;
  transform: translateY(10px);
  animation-fill-mode: forwards;
  will-change: opacity, transform;
  animation-duration: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeIn-1s {
  animation-delay: 0.5s;
}
.fadeIn-2s {
  animation-delay: 1s;
}
.fadeIn-3s {
  animation-delay: 2s;
}
.fadeIn-4s {
  animation-delay: 3s;
}
.fadeIn-5s {
  animation-delay: 4s;
}
.fadeIn-6s {
  animation-delay: 5s;
}
.fadeIn-7s {
  animation-delay: 6s;
}
