.swiper-3d .swiper-slide-shadow {
  background: none !important;
}
.swiper-pagination-bullet {
  background-color: #ffffff20;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 8px;
}
.swiper-pagination-bullet-active {
  background-color: #2596be;
}
